# Token du Bot Discord
DISCORD_TOKEN=votre_token_ici

# Configuration Base de données MySQL / MariaDB
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=cosmandbot
DB_PASSWORD=mot_de_passe_securise
DB_NAME=cosmandbot

# Fuseau horaire par défaut si non configuré par le serveur
DEFAULT_TZ=Europe/Paris

# Rôle modérateur par défaut (optionnel, configurable via /config role-mod)
DEFAULT_ROLE_MOD_ID=1533849622340964417

